<h1><%= @carrier.name %></h1>

<p><%= link_to 'Edit', edit_carrier_path(@carrier) %> |
<%= link_to 'Destroy', carrier_path(@carrier),
                    method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', carriers_path %></p>